@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   
    html {
      font-family: "Poppins", Helvetica, sans-serif;
    }
   
   .scrollbar-custom::-webkit-scrollbar {
     width: 8px; 
   }
   
   .scrollbar-custom::-webkit-scrollbar-thumb {
     background-color: #ccd1d1 ; 
     border-radius: 4px; 
   }
   
   .scrollbar-custom::-webkit-scrollbar-thumb:hover {
     background-color: #FFFFFF ; 
   }
   
   .scrollbar-custom::-webkit-scrollbar-track {
     background-color: transparent; 
     border-radius: 4px;
   }

    .pinwheel {
      --uib-size: 45px;
      --uib-speed: 0.8s;
      --uib-color: #e30038;
      --uib-line-weight: 4px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--uib-size);
      width: var(--uib-size);
    }

    .pl {
      position: absolute;
      top: calc(50% - var(--uib-line-weight) / 2);
      left: 0;
      height: var(--uib-line-weight);
      width: 100%;
      border-radius: calc(var(--uib-line-weight) / 2);
      background-color: var(--uib-color);
      animation: rotate81232 var(--uib-speed) ease-in-out infinite;
    }

    .pl:nth-child(2) {
      animation-delay: calc(var(--uib-speed) * 0.075);
      opacity: 0.8;
    }

    .pl:nth-child(3) {
      animation-delay: calc(var(--uib-speed) * 0.15);
      opacity: 0.6;
    }

    .pl:nth-child(4) {
      animation-delay: calc(var(--uib-speed) * 0.225);
      opacity: 0.4;
    }

    .pl:nth-child(5) {
      animation-delay: calc(var(--uib-speed) * 0.3);
      opacity: 0.2;
    }

    .pl:nth-child(6) {
      animation-delay: calc(var(--uib-speed) * 0.375);
      opacity: 0.1;
    }

    @keyframes rotate81232 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(180deg);
      }
    }

}